.feedback-section {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  margin: 20px auto;
  max-width: 600px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}

.feedback-section h2 {
  color: #3f51b5;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}

#feedback-form {
  display: flex;
  flex-direction: column;
}

#feedback-form label {
  color: #333;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 5px;
}

#feedback-form input,
#feedback-form textarea {
  padding: 8px;
  border: 2px solid #ddd;
  border-radius: 5px;
  font-family: Arial, sans-serif;
  font-size: 1em;
}

#feedback-form input:focus,
#feedback-form textarea:focus {
  outline: none;
  border-color: #00ff9d;
}

#feedback-form button {
  margin-top: 15px;
  padding: 10px;
  background-color: #00ff9d;
  color: #2f2f2f;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

#feedback-form button:hover {
  background-color: #c1e2ce;
}

#form-response {
  padding: 20px;
  font-size: 16px;
  color: #b5f1da;
  background-color: #2f2f2f;
  border-radius: 14px;
  border: 1px solid #00ff9d;
  text-align: center;
}

.hidden {
  display: none;
}

.form-item {
  display: flex;
  flex-direction: column;
}
